{{template "cover-header"}}
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="../index.html">Home</a>
            <a class="nav-link active" href="club.html">Club</a>
            <a class="nav-link" href="../Chat/login.html">Chat</a>            
            <a class="nav-link" href="../about/about.html">About</a>
          </nav>
        </div>
      </header>
      <img src="../assets/_logo.png" class="img-fluid">                
      <main role="main" class="inner cover card tablescroll">
          <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>RANKING</th>
                    <th>STADIUM</th>
                    <th>LEAGUE</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <th scope="row">{{.ID}}</th>
                    <th>{{.Name}}</th>
                    <th>{{.Ranking}}</th>
                    <th>{{.Stadium}}</th>
                    <th>{{.League}}</th>                    
                </tr>
                {{end}}
            </tbody>
          </table>
      </main>
{{template "footer"}}
