{{template "cover-header"}}
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="../index.html">Home</a>
            <a class="nav-link" href="../Club/club.html">Club</a>
            <a class="nav-link" href="../Chat/login.html">Chat</a>            
            <a class="nav-link active" href="about.html">About</a>
          </nav>
        </div>
      </header>
      <img src="../assets/_logo.png" class="img-fluid">                      
      <main role="main" class="inner cover card">
        <h1 class="cover-heading">Which Match?</h1>
        <p class="lead">{{.Msg}}</p>
      </main>
{{template "footer"}}
