{{template "signin-header"}}
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="../index.html">Home</a>
            <a class="nav-link" href="../Club/club.html">Club</a>
            <a class="nav-link active" href="chat.html">Chat</a>            
            <a class="nav-link" href="../about/about.html">About</a>
          </nav>
        </div>
        </header>
        <img src="../assets/_logo.png" class="img-fluid">                        
        <main role="main" class="inner cover card tablescroll">
            <ul class="list-unstyled" id="messages"></ul>
            <form id="chatbox">
                <label for="chat">{{.Name}}:</label>
                <textarea class="form-control" rows="1" id="chat"></textarea>
                <button class="btn btn-outline-primary btn-block" type="submit">Send</button>
            </form>
        </main>
{{template "footer"}}
